<div class="row">
	<div class="col-xl-3 col-lg-3  m--hidden-mobile ">
		<div class="m-portlet m-portlet--full-height">
			<div class="m-portlet__body">
				<div class="m-card-profile">
					<div class="m-card-profile__title m--hide">
						Your Profile
					</div>
					<div class="m-card-profile__pic">
						<div class="m-card-profile__pic-wrapper">
							<img src="./assets/app/media/img/users/user4.jpg" alt="">
						</div>
					</div>
					<div class="m-card-profile__details">
						<span class="m-card-profile__name">Mark Andre</span>
						<a href="" class="m-card-profile__email m-link text-left">20% completed</a>
						<p>
							<ngb-progressbar type="info" [value]="50"></ngb-progressbar>
						</p>
					</div>
				</div>
				<ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
					<li class="m-nav__separator m-nav__separator--fit"></li>
					<li class="m-nav__section m--hide">
						<span class="m-nav__section-text">Section</span>
					</li>
					<li class="m-nav__item">
						<a [routerLink]="['/profile/calendar']" class="m-nav__link" [routerLinkActive]="['m-menu__item--active']">
							<i class="m-nav__link-icon flaticon-profile-1"></i>
							<span class="m-nav__link-title">
								<span class="m-nav__link-wrap">
									<span class="m-nav__link-text">Calendar</span>
								</span>
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a [routerLink]="['/profile/sales-metrics']" class="m-nav__link" [routerLinkActive]="['m-menu__item--active']">
							<i class="m-nav__link-icon flaticon-share"></i>
							<span class="m-nav__link-text">Sales Metrics</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a [routerLink]="['/profile/prospects']" class="m-nav__link" [routerLinkActive]="['m-menu__item--active']">
							<i class="m-nav__link-icon flaticon-chat-1"></i>
							<span class="m-nav__link-text">Prospects</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a [routerLink]="['/profile/activity']" class="m-nav__link" [routerLinkActive]="['m-menu__item--active']">
							<i class="m-nav__link-icon flaticon-graphic-2"></i>
							<span class="m-nav__link-text">Activity</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xl-9 col-lg-9">
		<router-outlet></router-outlet>
	</div>
</div>
