<mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
	<!-- Checkbox Column -->

	<ng-container matColumnDef="select">
		<mat-cell *matCellDef="let row" class="mat-column-checkbox" style="flex:0 0 30px;padding-left: 1px;">
			<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
			</mat-checkbox>
		</mat-cell>
	</ng-container>


	<ng-container matColumnDef="firstName">
		<mat-cell style="flex:1 1 70px;font-size: 12px" *matCellDef="let customer">{{customer.firstName}} {{customer.lastName}}
		</mat-cell>
	</ng-container>


	<ng-container matColumnDef="percent">
		<mat-cell *matCellDef="let customer">
			<mat-icon>filter_list</mat-icon> {{ customer.percent / 100 | percent }}
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="value">

		<mat-cell *matCellDef="let customer">
			<mat-icon>dvr</mat-icon> {{ customer.value }}
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="kms">
		<mat-cell *matCellDef="let customer">
			<mat-icon>location_on</mat-icon> {{ customer.kms }}
		</mat-cell>
	</ng-container>

	<!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->

	<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<!-- start: BOTTOM -->
<div class="mat-table__bottom">
	<mat-paginator [pageSize]="10" [pageSizeOptions]="[ 10,20,30]"></mat-paginator>
</div>
