
<div  *ngIf="dashboardData$ | async as dashboardData">
<!--Begin::Section-->
<m-stat></m-stat>
<!--End::Section-->

<!--Begin::Section-->
<m-pipeline-breakup></m-pipeline-breakup>
<!--End::Section-->

<!--Begin::Section-->
<!--  Provide inputs for the child component  -->
<m-sales-performance [saleData]="dashboardData.objHomePageSales"></m-sales-performance>
<!--End::Section-->

<!--Begin::Section-->
<div class="row">
	<div class="col-sm-5 col">
		<m-deal-stage-funnel [dealsData]="dashboardData.objHomePageDeal"></m-deal-stage-funnel>
	</div>
	<div class="col-sm-7 col">
		<m-lost-deals></m-lost-deals>
	</div>
</div>

<div class="row">
	<div class="col">
		<m-best-ever-vs-current></m-best-ever-vs-current>
	</div>
</div>

</div>
