agm-map {
	height: 600px;
}

.p-5 {
	padding: 5px !important;
}

.map-button {
	min-width: 140px;
	text-align: left;
	position: absolute;
	top: 2px;
}

.map-button mat-icon {
	padding-top: 3px;
}

.map-button span {
	padding-left: 20px;
}

.m-b-o {
	margin-bottom: 0 !important;
}
