<div style="margin-top:10px;">
	<!--Begin::Section-->
	<m-stat></m-stat>
	<!--End::Section-->

	<!--Begin::Section-->
	<m-profile-pipeline-breakup></m-profile-pipeline-breakup>
	<!--End::Section-->


	<!--Begin::Section-->
	<m-profile-sales-performance></m-profile-sales-performance>
	<!--End::Section-->

	<!--Begin::Section-->
	<m-profile-deal-stage-funnel></m-profile-deal-stage-funnel>
	<!--End::Section-->

	<!--Begin::Section-->
	<m-profile-lost-deals></m-profile-lost-deals>
	<!--End::Section-->


	<!--Begin::Section-->
	<m-profile-best-ever-vs-current></m-profile-best-ever-vs-current>
	<!--End::Section-->

</div>
