.total {
	font-size: 24px;
	font-weight: 500;
	color: #516f90;
}
.box-shadow {
	box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.1);
}
.m-widget24 .m-widget24__item .m-widget24__change {
	color: #516f90;
}
.m-portlet.no-border.no-shadow {
	border: none !important;
	box-shadow: none !important;
}
