<!--Begin::Section-->
<div class="m-portlet">
	<div class="m-portlet__body m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-xl-4">
				<!--begin:: Widgets/Stats2-1 -->
				<div class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Target Achieved</h3>
								<span class="m-widget1__desc">Sales closed till today</span>
							</div>
							<div class="col m--align-right">
								<span class="m-widget1__number m--font-brand">+₹{{targetAchieved}}</span>
							</div>
						</div>
					</div>
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Days Remaining </h3>
								<span class="m-widget1__desc">To achieve target</span>
							</div>
							<div class="col m--align-right">
								<span class="m-widget1__number m--font-danger">{{daysRemaining}}</span>
							</div>
						</div>
					</div>
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Percentage remaining</h3>
								<span class="m-widget1__desc">To achieve target</span>
							</div>
							<div class="col m--align-right">
								<span class="m-widget1__number m--font-success">{{percentageRemaining}}%</span>
							</div>
						</div>
					</div>

				</div>
				<!--end:: Widgets/Stats2-1 -->
			</div>
			<div class="col-xl-4">
				<!--begin:: Widgets/Stats2-1 -->
				<div class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Prospects Created</h3>
								<span class="m-widget1__desc">No of leads recieved</span>
							</div>
							<div class="col m--align-right">
								<span class="m-widget1__number m--font-brand">{{prospectsCreated}}</span>
							</div>
						</div>
					</div>
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Prospects Assigned</h3>
								<span class="m-widget1__desc">To team members</span>
							</div>
							<div class="col m--align-right">
								<span class="m-widget1__number m--font-danger">{{prospectsAssigned}}</span>
							</div>
						</div>
					</div>
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Prospects Reached</h3>
								<span class="m-widget1__desc">Prospects in pipline</span>
							</div>
							<div class="col m--align-right">
								<span class="m-widget1__number m--font-success">{{prospectsReached}}</span>
							</div>
						</div>
					</div>

				</div>
				<!--end:: Widgets/Stats2-1 -->
			</div>
			<div class="col-xl-4">
				<!--begin:: Widgets/Stats2-1 -->
				<div class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">File Processing</h3>
								<span class="m-widget1__desc">Deal value</span>
							</div>
							<div class="col m--align-right">
								<span class="m-widget1__number m--font-brand">₹{{fileProcessing}}</span>
							</div>
						</div>
					</div>
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Follow Up</h3>
								<span class="m-widget1__desc">Deal value</span>
							</div>
							<div class="col m--align-right">
								<span class="m-widget1__number m--font-danger">{{followup}}</span>
							</div>
						</div>
					</div>
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Lost Sales</h3>
								<span class="m-widget1__desc">Deal value</span>
							</div>
							<div class="col m--align-right">
								<span class="m-widget1__number m--font-success">{{lostValues}}%</span>
							</div>
						</div>
					</div>

				</div>
				<!--end:: Widgets/Stats2-1 -->
			</div>
		</div>
	</div>
</div>
<!--End::Section-->
