<!--begin:: Widgets/Authors Profit-->
<m-portlet>
	<!-- use ng-container[mPortletBody] for the body content -->
	<ng-container mPortletBody>
		<div class="m-widget4">

			<!--begin::Widget 14 Item-->
			<div class="m-widget4__item d-flex justify-content-between flex-wrap align-items-center ">
				<div class="flex-20 p-4">
					<div class="m-widget4__img m-widget4__img--pic">
						<button mat-fab color="primary">#1</button>
					</div>
					<div class="m-widget4__info">
						<a [routerLink]="['/profile']">
							<span class="m-widget4__title">
								Anna Strong
							</span>
						</a>

						<br>
						<span class=" m--font-brand m-widget4__sub">
							87% Acheived
						</span>
					</div>
				</div>

				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">24,30,000</span>
					<br>
					<span class="m-widget4__sales ">Acheived</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">200</span>
					<br>
					<span class="m-widget4__sales">Follow-Up</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">114</span>
					<br>
					<span class="m-widget4__sales">F2F</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">89</span>
					<br>
					<span class="m-widget4__sales">Doc Collection</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">66</span>
					<br>
					<span class="m-widget4__sales">Sales Closed</span>
				</div>
			</div>
			<!--end::Widget 14 Item-->


			<!--begin::Widget 14 Item-->
			<div class="m-widget4__item d-flex justify-content-between flex-wrap align-items-center ">
				<div class="flex-20 p-4">
					<div class="m-widget4__img m-widget4__img--pic">
						<button mat-fab color="primary">#2</button>
					</div>
					<div class="m-widget4__info">
						<a [routerLink]="['/profile']">
							<span class="m-widget4__title">
								Milano Esco
							</span>
						</a>
						<br>
						<span class=" m--font-brand m-widget4__sub">
							75% Acheived
						</span>
					</div>
				</div>

				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">24,30,000</span>
					<br>
					<span class="m-widget4__sales ">Acheived</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">200</span>
					<br>
					<span class="m-widget4__sales">Follow-Up</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">114</span>
					<br>
					<span class="m-widget4__sales">F2F</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">89</span>
					<br>
					<span class="m-widget4__sales">Doc Collection</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">66</span>
					<br>
					<span class="m-widget4__sales">Sales Closed</span>
				</div>
			</div>
			<!--end::Widget 14 Item-->


			<!--begin::Widget 14 Item-->
			<div class="m-widget4__item d-flex justify-content-between flex-wrap align-items-center ">
				<div class="flex-20 p-4">
					<div class="m-widget4__img m-widget4__img--pic">
						<button mat-fab color="primary">#3</button>
					</div>
					<div class="m-widget4__info">
						<a [routerLink]="['/profile']">
							<span class="m-widget4__title">
								Nick Bold
							</span>
						</a>

						<br>
						<span class=" m--font-brand m-widget4__sub">
							74% Acheived
						</span>
					</div>
				</div>

				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">24,30,000</span>
					<br>
					<span class="m-widget4__sales ">Acheived</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">200</span>
					<br>
					<span class="m-widget4__sales">Follow-Up</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">114</span>
					<br>
					<span class="m-widget4__sales">F2F</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">89</span>
					<br>
					<span class="m-widget4__sales">Doc Collection</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">66</span>
					<br>
					<span class="m-widget4__sales">Sales Closed</span>
				</div>
			</div>
			<!--end::Widget 14 Item-->


			<!--begin::Widget 14 Item-->
			<div class="m-widget4__item d-flex justify-content-between flex-wrap align-items-center ">
				<div class="flex-20 p-4">
					<div class="m-widget4__img m-widget4__img--pic">
						<button mat-fab color="primary">#4</button>
					</div>
					<div class="m-widget4__info">
						<a [routerLink]="['/profile']">
							<span class="m-widget4__title">
								Wiltor Delton
							</span>
						</a>

						<br>
						<span class=" m--font-brand m-widget4__sub">
							55% Acheived
						</span>
					</div>
				</div>

				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">24,30,000</span>
					<br>
					<span class="m-widget4__sales ">Acheived</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">200</span>
					<br>
					<span class="m-widget4__sales">Follow-Up</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">114</span>
					<br>
					<span class="m-widget4__sales">F2F</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">89</span>
					<br>
					<span class="m-widget4__sales">Doc Collection</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">66</span>
					<br>
					<span class="m-widget4__sales">Sales Closed</span>
				</div>
			</div>
			<!--end::Widget 14 Item-->


			<!--begin::Widget 14 Item-->
			<div class="m-widget4__item d-flex justify-content-between flex-wrap align-items-center ">
				<div class="flex-20 p-4">
					<div class="m-widget4__img m-widget4__img--pic">
						<button mat-fab color="primary">#5</button>
					</div>
					<div class="m-widget4__info">
						<a [routerLink]="['/profile']">
							<span class="m-widget4__title">
								Nick Stone
							</span>
						</a>

						<br>
						<span class=" m--font-brand m-widget4__sub">
							26% Acheived
						</span>
					</div>
				</div>

				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">41,40,000</span>
					<br>
					<span class="m-widget4__sales ">Acheived</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">154</span>
					<br>
					<span class="m-widget4__sales">Follow-Up</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">114</span>
					<br>
					<span class="m-widget4__sales">F2F</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">89</span>
					<br>
					<span class="m-widget4__sales">Doc Collection</span>
				</div>
				<div class="flex-auto m--align-center p-3">
					<span class="m--font-brand m-widget4__number">66</span>
					<br>
					<span class="m-widget4__sales">Sales Closed</span>
				</div>
			</div>
			<!--end::Widget 14 Item-->

		</div>
	</ng-container>
</m-portlet>
<!--end:: Widgets/Authors Profit-->
