.flex-20 {
	flex: 1 1 20%;
}

.flex-auto {
	flex: 1 1 auto;
}

.m-widget4__sub {
	font-size: 1em !important;
	font-weight: bold !important;
}

.m-widget4__number {
	font-size: 1.5rem;
	font-weight: 600;
}

.widget4__sales {
	font-size: 1rem;
}
